{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmafeatures": {
      "modules": true
    }
  },
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true
  },
  "plugins": [
  ],
  "rules": {
    "strict": 0,
    "camelcase": [2, {"properties": "never"}],
    "quotes": [2, "single", "avoid-escape"],
    "no-underscore-dangle": 0,
    "no-useless-escape": 0,
    "complexity": [2, { "max": 35 }],
    "no-use-before-define": [1, { "functions": false }]
  }
}
