.github
.next
.yalc
build
bundles
coverage
dist
lib
node_modules
out
public
release
vendor

# ignore prettifying examples for now due to
# 1. there being minified snippets all over the place and
# 2. some tests fail cause they depend on some sources being exactly as they are
examples
