name: Rollbar.js CI

on:
  push:
    branches: [ master ]
    tags: [ v* ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [8, 10, 12, 14, 16]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install node.js
        uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm install
        run: npm install

      - name: Run tests
        run: npm run test_ci
